<h1>Natural Language Recommendations</h1>

            {{ form.hidden_tag() }}
                    {{ form.query.label(class="") }}
                    <br>
                    {% if form.query.errors %}
                        {{ form.query(class="") }}
                                {% for error in form.query.errors %}
                                    {{ error }}
                                {% endfor %}

                    {% else %}
                        {{ form.query(class="") }}
                    {% endif %}


                    {{ form.top_k.label(class="") }}

                    {% if form.top_k.errors %}
                        {{ form.top_k(class="") }}

                                {% for error in form.top_k.errors %}
                                    {{ error }}
                                {% endfor %}

                    {% else %}
                        {{ form.top_k(class="") }}
                    {% endif %}


              {{ form.submit(class="") }}
